@charset "UTF-8";
/*l'ordine delle pagine è importante!!!*/
body {
  font-family: Montserrat, sans-serif;
}

/* azzero possibili effetti di tutti gli elementi */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* variabili colore */
/* Sfumature di grigio */
/* variabile raggio del bordo */
.nav {
  position: fixed; /* posizione fissa */
  width: 100px; /* larghezza */
  box-shadow: 0 0 15px #e1e5ee; /* colore ombra */
}
.nav__list { /* nav__list */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* allinea all'estremita*/
  align-items: center; /* alline ail contenutop al centro */
  gap: 0.5rem; /* spazzio tra i vari riquadri */
  margin: 0.5rem; /* dimensione margini */
}
.nav__listitem { /* nav__listitem */
  list-style: none; /* lista senza puntini o numerazione */
  font-weight: bold; /* font grassetto */
  position: relative; /* posizione relativa del blocco */
  top: 5px; /* distanza dal bordo alto */
  box-shadow: 0 0 10px #e1e5ee; /* ombra e dimensioni ombra del box*/
  border-radius: 0.2rem; /* bordi tondi */
  padding: 1rem; /*distanza interna dai bordi*/
  width: 120px;
  cursor: pointer; /* quando il cursore ci passa sopra diventa una manina */
  transition: width 200ms ease-in; /* svilopo dell animazione */
}
.nav__listitem svg { /* immagine interna con cabio colore graduale */
  width: 2.5rem; /* dimensione logo */
  transition: fill 300ms ease-in; /*variazione della transizione*/
}
.nav__listitem:hover svg, .nav__listitem:focus svg {
  fill: #62e559; /*colore logo quando ci passo sopra o po clicco */
}
.nav__listitem h2 { /* titolo h2 con cabio colore  (funziona solo dentro nav__listitem)*/ }
.nav__listitem h2:hover, .nav__listitem h2:focus { /* e quando ci clicco sopra */
  color: #62e559; /*colore logo quando ci passo sopra o po clicco */
}
.nav__listitem:hover ul, .nav__listitem:focus ul { /* e quando ci clicco sopra  */
  opacity: 1; /* opacitá di ul a 1 */
  visibility: visible; /* rendi visibile il riquadro */
}
.nav__listitemdrop {
  list-style: none; /* lista senza puntini o numerazione */
  position: absolute; /* posizione assoluta rispetto allblocco che lo ospita */
  top: 5px; /* distanza dal bordo alto */
  left: 80px; /* distanza dal bordo sinistro */
  box-shadow: 0 0 10px #e1e5ee; /* ombra e dimensioni ombra del box*/
  background-color: white; /*colore sfondo*/
  border-radius: 0.2rem; /* bordi tondi */
  width: 10rem; /* larghezza blocco*/
  padding: 0.5rem; /*distanza interna dai bordi*/
  display: flex; /* considero i blocco come una flex box*/
  flex-direction: column; /* dispongo il blocco in colonna*/
  gap: 0.5rem; /* spazzio tra i vari blocchi */
  opacity: 0; /* opacita 0 */
  visibility: hidden; /* rendi nascosto il riquadro */
  transition: opacity 300ms ease-in-out; /* variazione di opacitá in 200ms*/
}
.nav__listitemdrop li {
  list-style: none; /* lista senza puntini o numerazione */
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  transition: background-color 200ms ease-in-out;
  /*cambio sfondo del riquadro quando ci passo sopra il mouse o ci clicco */
}
.nav__listitemdrop li:hover, .nav__listitemdrop li:focus {
  background-color: #d9f4d7;
}

/*********************************************************************************************************/
/*CASO IN CUI LO SCHERMO DEL DISPOSITIVO é PIU PICCOLO DI 700px*/
@media screen and (max-width: 700px) {
  /*DA FARE IN FUTURO PER UN INTERFACCIA ALLUNGATA*/
}
/*togliere Or se si vuole il file orizontale*/

/*# sourceMappingURL=mainVerticale.css.map */
