
.nav {
  position: fixed; /* posizione fissa */
  width: 100px; /* larghezza */
  box-shadow: 0 0 15px $clr-gray300; /* colore ombra */

  &__list { /* nav__list */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* allinea all'estremita*/
    align-items: center; /* alline ail contenutop al centro */
    gap: 0.5rem; /* spazzio tra i vari riquadri */
    margin: 0.5rem; /* dimensione margini */


    &item { /* nav__listitem */
      list-style: none; /* lista senza puntini o numerazione */
      font-weight: bold; /* font grassetto */
      position: relative; /* posizione relativa del blocco */
      top: 5px; /* distanza dal bordo alto */
      box-shadow: 0 0 10px $clr-gray300; /* ombra e dimensioni ombra del box*/
      border-radius: $radius; /* bordi tondi */
      padding: 1rem; /*distanza interna dai bordi*/
      width: 120px;
      cursor: pointer; /* quando il cursore ci passa sopra diventa una manina */
      transition: width 200ms ease-in; /* svilopo dell animazione */

      svg { /* immagine interna con cabio colore graduale */
        width: 2.5rem; /* dimensione logo */
        transition: fill 300ms ease-in; /*variazione della transizione*/

      }
      &:hover svg,
      &:focus svg{
         fill: $clr-primary; /*colore logo quando ci passo sopra o po clicco */
      }

      h2 {  /* titolo h2 con cabio colore  (funziona solo dentro nav__listitem)*/
        &:hover , /* quando ci passo il cursore sopra */
        &:focus  { /* e quando ci clicco sopra */
          color: $clr-primary; /*colore logo quando ci passo sopra o po clicco */
        }
      }

      &:hover ul, /* quando ci passo il cursore sopra */
      &:focus ul { /* e quando ci clicco sopra  */
        opacity: 1; /* opacitá di ul a 1 */
        visibility: visible; /* rendi visibile il riquadro */
      }

      &drop {
        list-style: none; /* lista senza puntini o numerazione */
        position: absolute; /* posizione assoluta rispetto allblocco che lo ospita */
        top: 5px; /* distanza dal bordo alto */
        left: 80px; /* distanza dal bordo sinistro */
        box-shadow: 0 0 10px $clr-gray300; /* ombra e dimensioni ombra del box*/
        background-color: white; /*colore sfondo*/
        border-radius: $radius; /* bordi tondi */
        width: 10rem; /* larghezza blocco*/
        padding: 0.5rem; /*distanza interna dai bordi*/
        display: flex; /* considero i blocco come una flex box*/
        flex-direction: column; /* dispongo il blocco in colonna*/
        gap: 0.5rem; /* spazzio tra i vari blocchi */
        opacity: 0; /* opacita 0 */
        visibility: hidden; /* rendi nascosto il riquadro */
        transition: opacity 300ms ease-in-out; /* variazione di opacitá in 200ms*/

        li {
          list-style: none; /* lista senza puntini o numerazione */
          padding: 0.5rem 1rem;
          border-radius: $radius;
          transition: background-color 200ms ease-in-out;

          /*cambio sfondo del riquadro quando ci passo sopra il mouse o ci clicco */
          &:hover,
          &:focus {
            background-color: $clr-primary-hover;
          }


        }
      }
    }
  }
}


/*********************************************************************************************************/
/*CASO IN CUI LO SCHERMO DEL DISPOSITIVO é PIU PICCOLO DI 700px*/

@media screen and (max-width: 700px)
{
  /*DA FARE IN FUTURO PER UN INTERFACCIA ALLUNGATA*/

}

