
/* variabili colore */
$clr-primary: #62e559;
$clr-primary-hover: #d9f4d7;
$clr-primary-dark: #35ad2e;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;

/* variabile raggio del bordo */
$radius: 0.2rem;




/* gestione base degli elementi */

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }



  body {
    font-family: Montserrat, sans-serif;
    min-width: 1000px;
  }



  .nav {
    position: fixed; /* posizione fissa */
    width: 100vw; /* larghezza */
    box-shadow: 0 0 10px $clr-gray300; /* colore ombra */

    &__list { /* nav__list */
      display: flex;
      justify-content: flex-end; /* allinea all'estremita*/
      align-items: center; /* alline ail contenutop al centro */
      gap: 2rem; /* spazzio tra i vari riquadri */
      margin: 0 2rem; /* dimensione margini */

      &logo {
        list-style: none; /* non fare la lista ne puntata ne numerata*/
        margin-right: auto; /*margine a destra automatico */
        cursor: pointer; /*quando il cursore ci passa sopra diventa una manina */


        svg {
          width: 2.5rem; /* dimensione logo */
          transition: fill 250ms ease-in; /*variazione della transizione*/

          &:hover,
          &:focus {
            fill: $clr-primary; /*colore logo quando ci passo sopra o po clicco */
          }
        }
      }

      &item { /* nav__listitem */
        list-style: none; /* lista senza puntini o numerazione */
        font-weight: bold; /* font grassetto */
        position: relative; /* posizione relativa del blocco */
        padding: 1.5rem 1rem; /* spazio tra il suo contenuto e il suo bordo superiore ed inferiore 1.5 , destra e sinistra 1 */
        cursor: pointer; /* quando il cursore ci passa sopra diventa una manina */

        &::after {
          content: ""; /* se voglio qualcosa dopo */
          width: 0; /* larghezza */
          height: 0.3rem; /* latezza */
          border-radius: $radius; /* uso la variabile per i bordi arrotondati */
          position: absolute; /*posizione assoluta rispetto allblocco che lo ospita */
          left: 1rem; /* distanza da bordo a sinistra*/
          bottom: 0.8rem; /* distanza dal bordo basso */
          background-color: $clr-primary; /*colore di sfondo utilizzando una variabile*/
          transition: width 200ms ease-in; /* svilopo dell animazione */
        }

        &:hover::after, /* quando ci passo il cursore sopra */
        &:focus::after { /* e quando ci clicco sopra */
          width: 80%;
        }

        &:hover ul, /* quando ci passo il cursore sopra */
        &:focus ul { /* e quando ci clicco sopra  */
          opacity: 1; /* opacitá di ul a 1 */
          visibility: visible; /* rendi visibile il riquadro */
        }

        &drop {
          list-style: none; /* lista senza puntini o numerazione */
          position: absolute; /* posizione assoluta rispetto allblocco che lo ospita */
          top: 4rem; /* distanza dal bordo alto */
          left: -1rem; /* distanza dal bordo sinistro */
          box-shadow: 0 0 10px $clr-gray300; /* ombra e dimensioni ombra del box*/
          background-color: white; /*colore sfondo*/
          border-radius: $radius; /* bordi tondi */
          width: 12rem; /* larghezza blocco*/
          padding: 1rem; /*distanza interna dai bordi*/
          display: flex; /* considero i blocco come una flex box*/
          flex-direction: column; /* dispongo il blocco in colonna*/
          gap: 0.5rem; /* spazzio tra i vari blocchi */
          opacity: 0; /* opacita 0 */
          visibility: hidden; /* rendi nascosto il riquadro */
          transition: opacity 300ms ease-in-out; /* variazione di opacitá in 200ms*/

          /*
            ease - specifica un effetto di transizione con un avvio lento, quindi veloce, quindi fine lento (impostazione predefinita)
            linear - specifica un effetto di transizione con la stessa velocità dall'inizio alla fine
            ease-in - specifica un effetto di transizione con un avvio lento
            ease-out - specifica un effetto di transizione con un'estremità lenta
            ease-in-out - specifica un effetto di transizione con inizio e fine lenti
            cubic-bezier(n,n,n,n) - consente di definire i propri valori in una funzione di Bezier cubica
          */
          li {
            list-style: none; /* lista senza puntini o numerazione */
            padding: 0.5rem 1rem;
            border-radius: $radius;
            transition: background-color 200ms ease-in-out;

            /*cambio sfondo del riquadro quando ci passo sopra il mouse o ci clicco */
            &:hover,
            &:focus {
              background-color: $clr-primary-hover;
            }


          }
        }
      }
    }
  }


/*********************************************************************************************************/
/*CASO IN CUI LO SCHERMO DEL DISPOSITIVO é PIU PICCOLO DI 700px*/

@media screen and (max-width: 700px)
{}
